main{
    display: flex;
    justify-content: center;
}

.area{
    border:2px solid black;
    width: 500px;
    height: 600px;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    /* background-color: red; */
    width: 500px;
    height: 600px;
    border: none;
    accent-color: transparent;
}

input[type="color"]{
    padding: 0;
    border: none;
    margin: 0;
    
}